# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
packer-plugin-crusoe
packer-plugin-crusoe_v1.0.0_x5.0_linux_amd64

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Packer
packer_cache/
crash.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

build/
